rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Users can read their own profile and discover other profiles
    // Users can create their own profile and update it
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow create: if request.auth.uid == userId;
      allow update, delete: if request.auth.uid == userId;
    }

    // Participants of a conversation can read/write to it
    match /conversations/{conversationId} {
      allow read, create: if isAuthenticated() && request.auth.uid in resource.data.participantIds;
      allow update: if isAuthenticated() && request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.participantIds;

      // Messages can be read/written by conversation participants
      match /messages/{messageId} {
        allow read, create: if isAuthenticated() && request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.participantIds;
      }
    }
    
    // Calls can be created by authenticated users
    // Status can be updated by participants
    // Can only be read by participants
    match /calls/{callId} {
      allow create: if isAuthenticated();
      allow read, update: if isAuthenticated() && request.auth.uid in resource.data.participantIds;
    }
  }
}
